# Python
__pycache__/
*.py[cod]
venv/
.venv/
*.egg-info/

# Django
db.sqlite3
oceanix_ecom/media/*
!oceanix_ecom/media/products/
!oceanix_ecom/media/products/**
staticfiles/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Env
.env

# Recordings / scripts
*.mp4
push_to_github.bat

# Backups and duplicates
oceanix_ecom copy/
*.sqlite3.bak
